# Airline Data Generator

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import bz2
pd.set_option('display.max_rows',500)
pd.set_option('display.max_columns',500)
pd.set_option('display.width',1000)

#Filenames declaration
fsearches='searches_sample.csv.bz2'
fbookings='bookings_sample.csv.bz2'

#searches_df=pd.read_csv(fsearches,sep='^')
bookings_df=pd.read_csv(fbookings,sep='^')

#big_searches_df=searches_df.copy()
big_bookings_df=bookings_df.copy()
#print("origin len",len(searches_df))
#searches_df.head(5)

###  Duplicate *2000

searches sample

In [19]:
for j in range(2000):
    big_searches_df=pd.concat([big_searches_df,searches_df])
    if j%100==0:
        print(j)
        
        print(len(big_searches_df))
print('done')

0
19998
100
1019898
200
2019798
300
3019698
400
4019598
500
5019498
600
6019398
700
7019298
800
8019198
900
9019098
1000
10018998
1100
11018898
1200
12018798
1300
13018698
1400
14018598
1500
15018498
1600
16018398
1700
17018298
1800
18018198
1900
19018098
done

###  Save to CSV

In [21]:
import csv
big_searches_df.to_csv("big_searches.csv",quoting=csv.QUOTE_NONNUMERIC,index=False,sep='^')

In [24]:
len(big_searches_df)

20007999

In [29]:
big_searches_df.reset_index(drop=True).tail(5)

                Date      Time TxnCode                          OfficeID Country Origin Destination  RoundTrip  NbSegments Seg1Departure Seg1Arrival    Seg1Date Seg1Carrier Seg1BookingCode Seg2Departure Seg2Arrival    Seg2Date Seg2Carrier Seg2BookingCode Seg3Departure Seg3Arrival Seg3Date Seg3Carrier Seg3BookingCode Seg4Departure Seg4Arrival Seg4Date Seg4Carrier Seg4BookingCode Seg5Departure Seg5Arrival Seg5Date Seg5Carrier Seg5BookingCode Seg6Departure Seg6Arrival Seg6Date Seg6Carrier Seg6BookingCode    From  IsPublishedForNeg  IsFromInternet  IsFromVista                        TerminalID InternetOffice
20007994  2013-01-10  00:01:42     MPT  b695299cc14ddcd1e31f1c922b3e258c      US    ORD         MIL          1           2           ORD         MIL  2013-05-31          KL             NaN           MIL         ORD  2013-06-09          KL             NaN           NaN         NaN      NaN         NaN             NaN           NaN         NaN      NaN         NaN             NaN           NaN         NaN      NaN         NaN             NaN           NaN         NaN      NaN         NaN             NaN    1ASI                  0               0            0  d41d8cd98f00b204e9800998ecf8427e            SJC
20007995  2013-01-10  08:37:04     FQD  e8741eaf2fa2f71f931475d18fa72096      US    BJX         LAX          0           1           BJX         LAX  2013-02-08          NV             NaN           NaN         NaN         NaN         NaN             NaN           NaN         NaN      NaN         NaN             NaN           NaN         NaN      NaN         NaN             NaN           NaN         NaN      NaN         NaN             NaN           NaN         NaN      NaN         NaN             NaN    1ASI                  0               0            0  d41d8cd98f00b204e9800998ecf8427e            SEA
20007996  2013-01-10  10:58:46     FCP  7da60d9e60a322d3fff7e00cb62baa53      BR    GRU         REC          0           1           GRU         REC  2013-01-23          TT             NaN           NaN         NaN         NaN         NaN             NaN           NaN         NaN      NaN         NaN             NaN           NaN         NaN      NaN         NaN             NaN           NaN         NaN      NaN         NaN             NaN           NaN         NaN      NaN         NaN             NaN  1ASIWS                  0               0            0  d41d8cd98f00b204e9800998ecf8427e            SAO
20007997  2013-01-10  15:32:04     FXA  be00295076af5aa39c27a0af17b58b26      DE    FRA         PEK          0           2           FRA         PEK  2013-01-22          MK               F           PEK         HGH  2013-01-23          MK               F           NaN         NaN      NaN         NaN             NaN           NaN         NaN      NaN         NaN             NaN           NaN         NaN      NaN         NaN             NaN           NaN         NaN      NaN         NaN             NaN    1ASI                  0               0            0  d41d8cd98f00b204e9800998ecf8427e            CGN
20007998  2013-01-10  16:45:10     MPT  38a3abb0a28e3f00fa79a11f552a5052      FR    ROM         PAR          0           1           ROM         PAR  2013-02-18         NaN             NaN           NaN         NaN         NaN         NaN             NaN           NaN         NaN      NaN         NaN             NaN           NaN         NaN      NaN         NaN             NaN           NaN         NaN      NaN         NaN             NaN           NaN         NaN      NaN         NaN             NaN  1ASIWS                  0               0            0  d41d8cd98f00b204e9800998ecf8427e            PAR

### Duplicate *1000
booking sample

In [2]:
for j in range(1000):
    big_bookings_df=pd.concat([big_bookings_df,bookings_df])
    if j%100==0:
        print(j)
        
        print(len(big_bookings_df))
print('done')

0
19998
100
1019898
200
2019798
300
3019698
400
4019598
500
5019498
600
6019398
700
7019298
800
8019198
900
9019098
done

### Save to CSV

In [3]:
import csv
big_bookings_df.to_csv("big_bookings.csv",quoting=csv.QUOTE_NONNUMERIC,index=False,sep='^')