In [6]:
import pandas as pd
from pandas.io.json import json_normalize

In [4]:
from amadeus import Client, ResponseError
import json

amadeus = Client(
    client_id='mfWDFAuJHzCAyiuyrF2ZNPLt86x6pBHe',
    client_secret='20kJCr29aZVItX2F'
) # hostname='production'  default is 'test'

try:
    response = amadeus.reference_data.urls.checkin_links.get(airlineCode='QF') # QF: qantas
    #print(response.data)
    print(json.dumps(response.data, indent=2))  # pretty json
except ResponseError as error:
    print(error)

[
  {
    "type": "checkin-link",
    "id": "QFEN-GBMobile",
    "href": "https://www.qantas.com/tripflowapp/mybFlights.tripflow?bookingRef={PNR}&pageFrom=/mobile-travel/airlines/your-booking/global/en&surname={LAST}",
    "channel": "Mobile",
    "parameters": {
      "PNR": {
        "description": "Record Locator",
        "type": "string",
        "format": "([a-zA-Z]|[0-9]){6}"
      },
      "LAST": {
        "description": "Passenger Last Name",
        "type": "string"
      }
    }
  },
  {
    "type": "checkin-link",
    "id": "QFEN-GBWeb",
    "href": "https://www.qantas.com/tripflowapp/mybFlights.tripflow?bookingRef={PNR}&pageFrom=/travel/airlines/your-booking/global/en&surname={LAST}",
    "channel": "Web",
    "parameters": {
      "PNR": {
        "description": "Record Locator",
        "type": "string",
        "format": "([a-zA-Z]|[0-9]){6}"
      },
      "LAST": {
        "description": "Passenger Last Name",
        "type": "string"
      }
    }
  }
]

## Check in Link

The Flight Check-in Links REST/JSON API helps simplify the check-in process for your users by providing direct access to the airlineâ€™s check-in page. 

The following search parameters are required:

* Provider code: airline code
* Check-in page language

The response is a list of one or more URLs with associated attributes:
* the href
* the channel (Web or Mobile)

an optional list of parameters that need to be filled if the URL contains dynamic parameters

In [9]:
checkin_link_df = pd.DataFrame.from_dict(json_normalize(response.data), orient='columns')
checkin_link_df

,channel,href,id,parameters.LAST.description,parameters.LAST.type,parameters.PNR.description,parameters.PNR.format,parameters.PNR.type,type
0,Mobile,https://www.qantas.com/tripflowapp/mybFlights....,QFEN-GBMobile,Passenger Last Name,string,Record Locator,([a-zA-Z]|[0-9]){6},string,checkin-link
1,Web,https://www.qantas.com/tripflowapp/mybFlights....,QFEN-GBWeb,Passenger Last Name,string,Record Locator,([a-zA-Z]|[0-9]){6},string,checkin-link

## Location

In [32]:
from amadeus import Location

response = amadeus.reference_data.locations.get(
    keyword='MAD',
    subType=Location.ANY
)

# print(response.body) #=> The raw response, as a string
# print(response.result) #=> The body parsed as JSON, if the result was parsable
# print(response.data) #=> The list of locations, extracted from the JSON

location_df = pd.DataFrame.from_dict(json_normalize(response.data), orient='columns')
location_df

,address.cityCode,address.cityName,address.countryCode,address.countryName,address.regionCode,address.stateCode,analytics.travelers.score,detailedName,geoCode.latitude,geoCode.longitude,iataCode,id,name,self.href,self.methods,subType,timeZoneOffset,type
0,MAD,MADRID,ES,SPAIN,EUROP,NaN,30.0,MADRID/ES:ADOLFO SUAREZ BARAJA,40.49181,-3.56948,MAD,AMAD,ADOLFO SUAREZ BARAJAS,https://test.api.amadeus.com/v1/reference-data...,[GET],AIRPORT,+02:00,location
1,MAD,MADRID,ES,SPAIN,EUROP,NaN,30.0,MADRID/ES:ADOLFO SUAREZ BARAJA,40.49181,-3.56948,MAD,CMAD,ADOLFO SUAREZ BARAJAS,https://test.api.amadeus.com/v1/reference-data...,[GET],CITY,+02:00,location
2,MSN,MADISON,US,UNITED STATES OF AMERICA,NAMER,WI,1.0,MADISON/WI/US:DANE COUTY REGIO,43.13972,-89.33750,MSN,AMSN,DANE COUTY REGIO,https://test.api.amadeus.com/v1/reference-data...,[GET],AIRPORT,-05:00,location
3,MSN,MADISON,US,UNITED STATES OF AMERICA,NAMER,WI,1.0,MADISON/WI/US:DANE COUTY REGIO,43.13972,-89.33750,MSN,CMSN,DANE COUTY REGIO,https://test.api.amadeus.com/v1/reference-data...,[GET],CITY,-05:00,location
4,IXM,MADURAI,IN,INDIA,ASIA,TN,1.0,MADURAI/TN/IN,9.83451,78.09338,IXM,AIXM,MADURAI,https://test.api.amadeus.com/v1/reference-data...,[GET],AIRPORT,+05:30,location
5,IXM,MADURAI,IN,INDIA,ASIA,TN,1.0,MADURAI/TN/IN,9.83451,78.09338,IXM,CIXM,MADURAI,https://test.api.amadeus.com/v1/reference-data...,[GET],CITY,+05:30,location
6,DXE,MADISON,US,UNITED STATES OF AMERICA,NAMER,MS,0.0,MADISON/MS/US:BRUCE CAMPBELL F,32.44139,-90.10306,DXE,ADXE,BRUCE CAMPBELL FIELD,https://test.api.amadeus.com/v1/reference-data...,[GET],AIRPORT,-05:00,location
7,DXE,MADISON,US,UNITED STATES OF AMERICA,NAMER,MS,0.0,MADISON/MS/US:BRUCE CAMPBELL F,32.44139,-90.10306,DXE,CDXE,BRUCE CAMPBELL FIELD,https://test.api.amadeus.com/v1/reference-data...,[GET],CITY,-05:00,location
8,FMS,FORT MADISON,US,UNITED STATES OF AMERICA,NAMER,IA,NaN,FORT MADISON/IA/US:MUNICIPAL,40.65000,-91.31667,FMS,AFMS,FORT MADISON MNPL,https://test.api.amadeus.com/v1/reference-data...,[GET],AIRPORT,-05:00,location
9,FMS,FORT MADISON,US,UNITED STATES OF AMERICA,NAMER,IA,NaN,FORT MADISON/IA/US:MUNICIPAL,40.65000,-91.31667,FMS,CFMS,FORT MADISON MNPL,https://test.api.amadeus.com/v1/reference-data...,[GET],CITY,-05:00,location

## Flight Most Booked Destinations

provides a list of the most popular flight destinations from a given origin during a specific time period. The popularity is a measure of the total number of bookings made for that destination from that origin (PNRs created).

This answers questions like "Where did most people book their flights to from Paris in September 2016?"

The response is a list of air-traffic objects with the following information:

* destination city

* flights score: ratio of the number of flights to the destination from that origin and the total number of flights from that origin (the ratio will be a number between 0 and 1, 1 being the score for the top destination)

* travelers score: ratio of the number of passengers traveling to the destination from that origin and the total number of passengers traveling from that origin (the ratio will be between 0 and 1, 1 being the score for the top destination). The list is ordered by travelers score in descending order by default. Sorting by flights score is also allowed.

### What were the top destinations people booked flights to from SYD in August 2017?

In [35]:
response_best_place = amadeus.travel.analytics.air_traffic.traveled.get(originCityCode='SYD', period='2017-08')
response_best_place = response_best_place.data
#print(response_best_place)
response_best_place_df=pd.DataFrame.from_dict(json_normalize(response_best_place), orient='columns')
response_best_place_df

,analytics.flights.score,analytics.travelers.score,destination,subType,type
0,100,100,MEL,TRAVELED,air-traffic
1,28,34,AKL,TRAVELED,air-traffic
2,21,25,SIN,TRAVELED,air-traffic
3,10,8,DXB,TRAVELED,air-traffic
4,8,3,HAN,TRAVELED,air-traffic
5,10,1,MAD,TRAVELED,air-traffic
6,8,1,BCN,TRAVELED,air-traffic
7,7,1,GVA,TRAVELED,air-traffic
8,7,1,OSA,TRAVELED,air-traffic
9,6,1,PRG,TRAVELED,air-traffic

### Adding the region

In [38]:
# Get a specific city or airport based on its id

airport_codes = response_best_place_df['destination'].tolist()
# airport_codes

test_list = []

for airport in airport_codes:
    try:
        response = amadeus.reference_data.locations.get(
        keyword=airport,
        subType=Location.ANY)

     #  print(airport) 

        test_list.append(response.data[0]['address']['regionCode'])

    except:
        test_list.append('not here')
    

response_best_place_df['country'] = pd.DataFrame(test_list)
response_best_place_df

,analytics.flights.score,analytics.travelers.score,destination,subType,type,country
0,100,100,MEL,TRAVELED,air-traffic,NAMER
1,28,34,AKL,TRAVELED,air-traffic,not here
2,21,25,SIN,TRAVELED,air-traffic,ASIA
3,10,8,DXB,TRAVELED,air-traffic,not here
4,8,3,HAN,TRAVELED,air-traffic,EUROP
5,10,1,MAD,TRAVELED,air-traffic,EUROP
6,8,1,BCN,TRAVELED,air-traffic,EUROP
7,7,1,GVA,TRAVELED,air-traffic,not here
8,7,1,OSA,TRAVELED,air-traffic,NAMER
9,6,1,PRG,TRAVELED,air-traffic,not here

### Where are most people flying to from Paris during the month of September?